<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<h1>Registration</h1>
		<form id="reg-form">
			<input type="text" autocomplete="off" id="username" placeholder="Username" />
			<input type="password" autocomplete="off" id="password" placeholder="Password" />
			<input type="submit" value="Submit Form" />
		</form>

		<script>
            //get the registration form element
			const form = document.getElementById('reg-form')

            //when the form submits, we file a listener
			form.addEventListener('submit', registerUser)

            //make an event when we register user
			async function registerUser(event) {
                //preven the page from refreshing
				event.preventDefault()
				const username = document.getElementById('username').value
				const password = document.getElementById('password').value
                

                //use some json (hence .js)
				const result = await fetch('/api/register', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
                    //stringify the body which we write the request in
					body: JSON.stringify({
                        //get usrname and password and pass it to server
						username,
						password
					})
				}).then((res) => res.json())

				if (result.status === 'ok') {
					// everythign went fine
					alert('Success')
				} else {
					alert(result.error)
				}
			}
		</script>
	</body>
</html>